@using Maticsoft.Model.SNS
@using Webdiyer.WebControls.Mvc
@model Maticsoft.ViewModel.SNS.PhotoList
<!-- 照片列表-->
<div id="PhotoListDiv" class="individual_b_zuo">
 <script src="/Areas/SNS/Themes/M1/Content/Scripts/DelAlbumDetail.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.emerge').unbind('hover').hover(function () {
                $(this).find('#dodge').show();
                $(this).find('#delAlbumDetail').show();
            }, function () {
                $(this).find('#dodge').hide();
                $(this).find('#delAlbumDetail').hide();
            });
            var AlbumID = $.getUrlParam('AlbumID');
            waterFall.init({
                //Ajax请求参数
                AjaxOptions: {
                    //Ajax请求参数
                    Params: { AlbumId: AlbumID },
                    //Ajax请求URL
                    DataURL: "@(ViewBag.BasePath)Album/PhotoListWaterfall"
                },
                //瀑布流起始索引记录器 - 用于累计
                CurrentAjaxStartIndexHF: $('#hfCurrentPageAjaxStartIndex'),
                //瀑布流起始索引
                StartIndex: $('#hfCurrentPageAjaxStartIndex').val() ? parseInt($('#hfCurrentPageAjaxStartIndex').val()) : 0,
                //瀑布流结束索引
                EndIndex: $('#hfCurrentPageAjaxEndIndex').val() ? parseInt($('#hfCurrentPageAjaxEndIndex').val()) : 0,

                //分页容器
                PagedContainer: $('.in_pages'),
                //列容器ID前缀
                ColumnFirstId: "col_",
                //列数
                ColumnNumber: 3
            });
            resizeImg('.PhotoList', 211, 1280);
        });
  
    </script>
    <input type="hidden" id="hfCurrentPageAjaxStartIndex" value="@ViewBag.CurrentPageAjaxStartIndex" />
    <input type="hidden" id="hfCurrentPageAjaxEndIndex" value="@ViewBag.CurrentPageAjaxEndIndex" />
    <div class="imagewalls_id">
        @{
            for (int i = 0; i < Model.PhotoList4ThreeCol.Length; i++)
            {
                <div id="col_@(i)" class="col1" style="margin-right: @(i == 2 ? "0" : "22")px;">
                    @foreach (PostContent item in Model.PhotoList4ThreeCol[i])
                    {
                        <div class="i_w_y">
                            <div id="emerge" class="emerge">
                                <p class="PhotoList">
                                <a class="pic_load" href="@item.StaticUrl">
                                        <img ref=" @(Maticsoft.Web.Components.FileHelper.GeThumbImage(item.ThumbImageUrl, "T211x1280_"))" alt="@item.TargetDescription" />
                                   
                                    @if (item.Type == 1&&item.Price>-1)
                                    {
                                        <span class="price">
                                          ￥@item.Price.ToString("F")
                                        </span>
                                    }
                                        
                                    </a>
                                </p>
                                 @if (ViewBag.IsCurrentUser == true)
                                 {
                                        <div id="delAlbumDetail">
                                            <a href="javascript:;" class="delAlbumDetail" albumid="@Model.AlbumModel.AlbumID" targetid="@item.TargetId" imagetype="@(item.Type == (int)Maticsoft.Model.SNS.EnumHelper.ImageType.Product ? "Product" : "Photo")">
                                                <img src="/Areas/SNS/Themes/M1/Content/images/del-btn-19x19.png" /></a></div>
                                 }
                                <div id="dodge" class="addalbum"  imagetype="@(item.Type == (int)Maticsoft.Model.SNS.EnumHelper.ImageType.Product ? "Product" : "Photo")"  targetid=@item.TargetId imageurl="@(Maticsoft.Web.Components.FileHelper.GeThumbImage(item.ThumbImageUrl, "T116x170_"))" >
                                    <a href="javascript:;" >
                                        <img src="/Areas/SNS/Themes/M1/Content/images/user_21.png" /></a></div>
                            </div>
                            <div class="search_com">
                                <div class="search_com_a">
                                    <p class="search_com_a1">
                                        <a href="javascript:;" class="favourite"  imagetype="@(item.Type == (int)Maticsoft.Model.SNS.EnumHelper.ImageType.Product ? "Product" : "Photo")" targetid=@item.TargetId>
                                            <img src="/Areas/SNS/Themes/M1/Content/images/user_22.jpg" />
                                        </a></p>
                                    <p class="search_com_a2">
                                        <a href="javascript:;">@item.FavouriteCount</a></p>
                                </div>
                                                 <div class="search_com_b" style="cursor: pointer">
                                <p class="search_com_b1">
                                    <a href="javascript:;">
                                        <img src="/Areas/SNS/Themes/M1/Content/images/user_23.jpg" /></a></p>
                                <p class="search_com_b2">
                                    <span class="commentcount">@item.CommentCount</span>评论</p> 
                                    <input class="TargetId" type="hidden" value="@item.TargetId" imagetype="@(item.Type == (int)Maticsoft.Model.SNS.EnumHelper.ImageType.Product ? "Product" : "Photo")"/>
                            </div>
                           
                            <div class="clear">
                            </div>
                        </div>
                           <div class="search_iss">
                        @{if (item.CommentCount > 0 && item.CommentList.Count > 0)
                          {
                              Html.RenderPartial("~/Areas/SNS/Themes/M1/Views/Partial/TargetListComment.cshtml", item.CommentList);

                          }}  <div class="clear">
                                </div>
                         </div>
                    </div>
                    }
                </div>
            }
        }
    </div>
    &nbsp;
    <div class="clear">
    </div>
    @Html.AjaxPager(Model.PhotoPagedList, new PagerOptions
        {
            CssClass = "in_pages",
            ShowDisabledPagerItems = false,
            AlwaysShowFirstLastPageNumber = false,
            PageIndexParameterName = "pageIndex",
            NumericPagerItemCount = 10,
            CurrentPagerItemWrapperFormatString = "<p class=\"in_s\">{0}</p>",
            NumericPagerItemWrapperFormatString = "<p>{0}</p>",
            NavigationPagerItemWrapperFormatString = "<p>{0}</p>",
            SeparatorHtml = ""
        }, new AjaxOptions { UpdateTargetId = "PhotoListDiv" })
</div>
<!-- 照片列表end-->
