@using Webdiyer.WebControls.Mvc
@model Maticsoft.ViewModel.Shop.ProductListModel
@{
    string cid = Request.RequestContext.RouteData.Values["cid"] != null ? Request.RequestContext.RouteData.Values["cid"].ToString() : "0";
    string brandid = Request.RequestContext.RouteData.Values["brandid"] != null ? Request.RequestContext.RouteData.Values["brandid"].ToString() : "0";
    string keyword = Request.RequestContext.RouteData.Values["keyword"] != null ? Request.RequestContext.RouteData.Values["keyword"].ToString() : "0";
    string mod = Request.RequestContext.RouteData.Values["mod"] != null ? Request.RequestContext.RouteData.Values["mod"].ToString() : "default";
    string price = Request.RequestContext.RouteData.Values["price"] != null ? Request.RequestContext.RouteData.Values["price"].ToString() : "0-0";

}

<div id="ProductListDiv">
    <script type="text/javascript">
        $(function () {
            //保存显示价格
            var priceStr = '@price';
            var price1 = priceStr.split("-")[0];
            var price2= priceStr.split("-")[1];
            if (!isNaN(price1)&&parseInt(price1) > 0) {
                $("#txtPrice1").val(price1);
            }
               if (!isNaN(price2)&&parseInt(price2) > 0) {
                $("#txtPrice2").val(price2);
            }
                var mod = '@mod';
            $(".Sort").find("li").each(function() {
                var mode = $(this).find("a").attr("mod");
                if (mode == mod) {
                    $(this).find("a").addClass("cur");
                }
            });
            $("#SubPrice").click(function() {
              
                var price1 = parseInt($("#txtPrice1").val());
                var price2=parseInt($("#txtPrice2").val());
                if (isNaN(price1)) {
                    price1 = 0;
                }
                if (isNaN(price2)) {
                    price2 = 0;
                }
                location.href = "@(ViewBag.BasePath)search/@cid/@brandid/@mod/"+price1+"-"+price2+"/@keyword";
            });
            
            
            //$('.OnlyNum').OnlyNum();
            $(".item-addcart #Reduction").die('click').live('click',function() {
                var quantity = $(this).parent().find('#Quantity');
                var num = parseInt(quantity.val()) -1;
                if (!num||num < 1) num = 1;
                quantity.val(num);
            });
            $(".item-addcart #Addition").die('click').live('click',function() {
                var quantity = $(this).parent().find('#Quantity');
                var num = parseInt(quantity.val()) +1;
                if (!num) num = 1;
                if (num > 99) num = 99;
                quantity.val(num);
            });
            $(".item-addcart #AddCart").die('click').live('click',function() {
                var sender = this;
                var quantity = $(sender).parent().find('#Quantity');
                var num = parseInt(quantity.val());
                if (!num||num < 1) num = 1;
                if (num > 99) num = 99;
                quantity.val(num);
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    async: false,
                    url: $Maticsoft.BasePath + "ShoppingCart/AddCart?s=" + new Date().format('yyyyMMddhhmmssS'),
                    data: { ProductId: $(sender).attr('productId'), Count: num },
                    success: function(resultData) {
                        switch (resultData.STATUS) {
                        case "SUCCESS":
                            ShowSuccessTip("加入购物车成功！");
                            var quantity = $('#hd-cart-amount');
                            quantity.text(parseInt(quantity.text()) + num);
                            $(sender).parent().find('#Quantity').val(1);
                            break;
                        default:
                            switch (resultData.DATA) {
                            case "NOSTOCK":
                                ShowServerBusyTip("非常抱歉, 商品库存不足！");
                                break;
                            case "NOSKU":
                            case "NO":
                            default:
                                ShowFailTip("服务器繁忙，请稍候再试！");
                                break;
                            }
                            break;
                        }
                    }
                });
            });


            waterFall.init({
                //Ajax请求参数
                AjaxOptions: {
                    //Ajax请求参数
                    Params:@Html.Raw(ViewBag.DataParam),
                    //Ajax请求URL
                    DataURL: "@(ViewBag.BasePath)Search/ListWaterfall"
                },
                //瀑布流起始索引记录器 - 用于累计
                CurrentAjaxStartIndexHF: $('#hfCurrentPageAjaxStartIndex'),
                //瀑布流起始索引
                StartIndex:$('#hfCurrentPageAjaxStartIndex').val() ? parseInt($('#hfCurrentPageAjaxStartIndex').val()) : 0,
                //瀑布流结束索引
                EndIndex: $('#hfCurrentPageAjaxEndIndex').val() ? parseInt($('#hfCurrentPageAjaxEndIndex').val()) : 0,

                //分页容器
                PagedContainer: $('.in_pages'),
                //列容器ID前缀，数据区
                ColumnFirstId: "J_lazyload",
                //列数
                ColumnNumber: 0,
                RowNumber: 4
            });
            $.lazyFixedLoadImg('.item', 175, 228);
        });
    </script>
    @if (Model.ProductPagedListForProductIndex != null)
    {
        <div class="filterbox cf mb20">
            <div class="cf list-mode" id="Sort">
                <div class="fl et">
                    <div class="filter-title">
                        排序：
                    </div>
                    <ul class="fl mr10 Sort">
                        <li class="listauto"><a id="MRPX0011" canajax="1" class="cur " href="@(ViewBag.BasePath)search/@cid/@brandid/default/@price/@keyword">
                            <span>默认 </span></a></li>
                        <li class="listsale des"><a id="XLPX0011" canajax="1" href="@(ViewBag.BasePath)search/@cid/@brandid/hot/@price/@keyword"
                            class="" title="销量由高到低"><span>销量 </span></a></li>
                        <li class="listdate des"><a id="SJPX0011" canajax="1" href="@(ViewBag.BasePath)search/@cid/@brandid/new/@price/@keyword"
                            class="" title="上架时间由近到远"><span>上架时间 </span></a></li>
                 
                        <li class="listprice des" title="点击按价格由低到高排序">
                            <a id="JGPX0011" canajax="1" href="@(ViewBag.BasePath)search/@cid/@brandid/price/@price/@keyword"
                                     class=""><span>价格 </span></a>
                        </li>
                    </ul>
                    <div class="fl mr5" name="__JGQJ0011">
                        <input name="" type="text" class="mtext priceTxt" id="txtPrice1" value="">
                        <span class="lower">- </span>
                        <input name="" type="text" class="mtext priceTxt" id="txtPrice2" value="">
                    </div>
                    <a canajax="1" overrideclick="1" class="mbtn" id="SubPrice" href="javascript:void(0)"><span>确定 </span>
                    </a>
                </div>
                
            </div>
        </div>
    
        
          <div ajaxcontent="1" class="goods-list" name="__FLLB002">
                <ul class="clearfix" id="J_lazyload">

                    @foreach (var item in Model.ProductPagedListForProductIndex)
                    {
                    
                        <li class="Glist cur" styleid="product_@(item.ProductId)">
                            <div class="Glist-box">
                                <a class="Glist-box-img" target="_blank" href="@(ViewBag.BasePath)Product/Detail/@item.ProductId">
                                    <img style="width:200px;height:200px;" src="@Maticsoft.Web.Components.FileHelper.GeThumbImage(item.ThumbnailUrl1, "T400X400_")" title="@item.ProductName" alt="@item.ProductName" /></a>
                                <div class="Good-HD">
                                    <div class="txt-red" title="@item.Subhead">
                                        @if (item.Subhead != null)
                                        {
                                            if (item.Subhead.Length > 18)
                                            {@item.Subhead.Substring(0, 18);
                                            }
                                            else
                                            {@item.Subhead}
                                        }
                                    </div>
                                </div>
                                <div class="price-box clearfix">
                                    <span class="price txt-red">¥@(item.LowestSalePrice.ToString("F"))</span>
                                    <del>¥@(item.MarketPrice.Value.ToString("F"))</del>
                                </div>
                                <div class="Goods-Tit">
                                    <a target="_blank" href="@(ViewBag.BasePath)Product/Detail/@item.ProductId" >@item.ProductName</a>
                                </div>
                                <div class="comment clearfix">
                                    @*<span class="fL comment-p">评论<a href="#"><em>2150条</em></a></span>
                                <span class="fan fR">返4.5元</span>*@
                                </div>
                                <div class="Glist-act clearfix">
                                    @*<div class="shopping_num">
                                        <input type="text" value="1">
                                        <span>
                                            <a class="add">加</a>
                                            <a class="dis_decrease" href="#">减</a>
                                        </span>
                                    </div>*@
                                    <div class="fL shopping-btn-s"><a target="_blank" href="@(ViewBag.BasePath)Product/Detail/@item.ProductId"></a></div>
                                </div>
                                @*<div class="owner"><span>健康店自营</span></div>*@
                            </div>
                        </li>
                    }
                </ul>
                <div class="loadingmask">
                    <div class="loadingmask-bg">
                    </div>
                    <div class="loadingmask-txt fixtop">
                        <img src="/Areas/Shop/Themes/M1/Content/images/loading-pink.gif" class="mr10" style="vertical-align: middle">
                    </div>
                </div>
            </div>

        <div class="cf mt10 mb20">
            @Html.AjaxPager(Model.ProductPagedList, new PagerOptions
       {
           ShowDisabledPagerItems = false,
           AlwaysShowFirstLastPageNumber = true,
           PageIndexParameterName = "pageIndex",
           NumericPagerItemCount = 10,
           CurrentPagerItemWrapperFormatString = "<p class=\"in_s\">{0}</p>",
           NumericPagerItemWrapperFormatString = "<p>{0}</p>",
           NavigationPagerItemWrapperFormatString = "<p>{0}</p>",
           CssClass = "in_pages",
           SeparatorHtml = ""
       }, new AjaxOptions { UpdateTargetId = "ProductListDiv" })
            <!--数据索引开始位置-->
            <input type="hidden" id="hfCurrentPageAjaxStartIndex" value="@ViewBag.CurrentPageAjaxStartIndex" />
            <input type="hidden" id="hfCurrentPageAjaxEndIndex" value="@ViewBag.CurrentPageAjaxEndIndex" />
        </div>
    }
</div>

  