@model List<Maticsoft.Model.Shop.Products.BrandInfo>
  @if (Model != null && Model.Count > 0)
  {
      <div class="opt-lst brandList" id="expandSort1" style="-webkit-transform-origin: 0px 0px; opacity: 1;  display: none;
                                      -webkit-transform: scale(1, 1);">
             <ul class="lst-comm">
             <li class="wit33 tc brandValues">
                 <a href="javascript:void(0)" BrandId="0"  class="lnk curr  ">全部 </a>
             </li>
             <li class="wit33 tc brandValues" >
                 <span class="bar">
                 </span>
                 <a href="javascript:void(0)"   BrandId="@Model[0].BrandId" class="lnk  ">@Model[0].BrandName </a>
             </li>
         </ul>
          @for (int i = 1; i < Model.Count; i++)
          {
              if ( i%2 == 1)
              {
                  @: <ul class="lst-comm">
                    <li class="wit33 tc brandValues"  >
                  <a href="javascript:void(0)" BrandId="@Model[i].BrandId"
                     class="lnk  ">@Model[i].BrandName </a>
              </li>
              }

              if (i % 2 == 0)
              {
                    <li class="wit33 tc brandValues" >
                 <span class="bar">
                 </span>
                 <a href="javascript:void(0)"   BrandId="@Model[i].BrandId" class="lnk  ">@Model[i].BrandName </a>
             </li>
                  @: </ul>
              }
              if (i == Model.Count - 1 && i % 2 == 1)
              {
                  <li class="wit33 tc"  >
                        <span class="bar"></span>
                      <a href="javascript:void(0)"  class="lnk " >&nbsp;</a>
                  </li>
              @: </ul>
              }
          }
      </div>
  }
 