@{
    Layout = "~/Areas/SNS/Themes/M1/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "重置密码";
}
<script type="text/javascript">
    $(function () {
        $("#NewPwd2").blur(function () {
            var pwd1 = $("#NewPwd").val();
            var pwd2 = $("#NewPwd2").val();
            if (pwd1 != pwd2) {
                $("#tError2").text("密码不一致！");
            }
        });
        $("#btnPassword").click(function () {
            var pwd1 = $.trim($("#NewPwd").val());
            var pwd2 = $.trim($("#NewPwd2").val());
            if (pwd1 == "") {
                ShowFailTip("请输入密码！");
                return;
            }
            if (pwd1 != pwd2) {
                ShowFailTip("密码不一致！");
                return;
            }
            ShowSuccessTip("重置密码成功！");
            $("form:first").submit();
        });
    });
</script>
<div id="login">
    <div class="named">
        找回密码</div>
    <div class="login_k">
        <input id="tError" type="hidden" value="@ViewBag.Msg" />
        @if (ViewBag.Msg == "Success")
        {
            <p style="font-family: '微软雅黑'; color: #999;">
                请填写下方表单来完成新密码的设置操作</p>
            <br />
            using (Html.BeginForm())
            {
                <input id="tEmail" type="hidden" name="Email"  value="@ViewBag.Email"/>
            <input id="SecretKey" type="hidden" name="SecretKey" value="@ViewBag.SecretKey"/>
            <div class="login_ks">
                <div class="login_k_a">
                    <div class="login_k_a1">
                    </div>
                    <div class="login_k_a2">
                        @Html.Password("NewPwd", "", new
                   {
                       onblur = "if(!this.value){$(this).hide();$('[value=重置密码]').show();}",
                       style = "display: none;"
                   })
                        <input type="text" value="重置密码" style="display: none;" />
                        <script type="text/javascript">
                            $(function () {
                                $('[value=重置密码]').show().bind('focus', function () {
                                    $(this).hide(); $('#NewPwd').show().focus();
                                });
                            });
                        </script>
                    </div>
                    <div class="login_k_a3">
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="login_ks">
                <div class="login_k_a">
                    <div class="login_k_a1">
                    </div>
                    <div class="login_k_a2">
                        @Html.Password("NewPwd2", "", new
                   {
                       onblur = "if(!this.value){$(this).hide();$('[value=确认密码]').show();}",
                       style = "display: none;"
                   })
                        <input type="text" value="确认密码" style="display: none;" />
                        <script type="text/javascript">
                            $(function () {
                                $('[value=确认密码]').show().bind('focus', function () {
                                    $(this).hide(); $('#NewPwd2').show().focus();
                                });
                            });
                        </script>
                    </div>
                    <div class="login_k_a3">
                    </div>
                </div>
                <div class="login_ks_a">
                    <span id="tError2" style="color: Red"></span>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="login_k_e">
                <input type="submit" value="" style="background: url(/Areas/SNS/Themes/M1/Content/images/find.jpg) no-repeat;
                    width: 90px; height: 40px; margin: 0; padding: 0; border: 0px; cursor: pointer;" /></div>
            }
        }
        else
        {
            <script type="text/javascript">
                $(function () {
                    var tipStr = $("#tError").val();
                    ShowFailTip(tipStr);
                    setInterval(" window.location = '@(ViewBag.BasePath)Profile/Posts'", 5000);
                });
            </script> 
        }
    </div>
</div>
