@model   Maticsoft.Model.CMS.Content
@{
    //ViewBag.Title = Model.Group.GroupName+"-"+Model.Topic.Title+"查看主题";
    Layout = "~/Areas/SNS/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}
@section head{
<link href="/Scripts/Pagination/pagination.css" rel="stylesheet" type="text/css" />@*分页控件的css*@
<script type="text/javascript" src="/Scripts/Pagination/jquery.pagination.js"></script>@*分页控件的javascript*@
<script src="/Areas/SNS/Themes/M1/Content/Scripts/ArticleDetail.js" type="text/javascript"></script>
    <script src="/Areas/SNS/Themes/M1/Content/Scripts/slides.min.jquery.js"></script>
    <script src="/Areas/SNS/Themes/M1/Content/Scripts/AjaxUpload.js" type="text/javascript"></script>@*上传图片的要引用的js*@
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="/Areas/SNS/Themes/M1/Content/Scripts/targetComment.js" type="text/javascript"></script>
    <script src="/Areas/SNS/Themes/M1/Content/Scripts/InfoBind.js" type="text/javascript"></script>
}
<!------Single group-------->
<div class="clear">
</div>
<input type="hidden"  id="CommentPageSize" value="3" />
<input type="hidden"  id="TargetId" value="@(Model.ContentID)" />
<div class="single_bk">
    <div class="single_bk_F">
        <div class="single_bk_FA">
            <div class="single_CF">
                <div class="single_CF_s">
                    <dl class="single_detailed">
                        <dl >
                                 <dt class="article_title"  style="padding-top: 8px; padding-bottom: 8px">@Model.Title</dt>
                            <dd class="single_detailed_tub">
                               
                                <p class="acdf">
                                    创建于：@Model.CreatedDate  阅读： <span class="txtArticlePvCount">0</span></p>
                            </dd>
                        </dl>
                        @* <dl class="chunk"><a href="javascript:;">@Model.Topic.ReplyCount</a></dl>*@
                        <div class="clear">
                        </div>
                    </dl>
                    <div class="single_cont" style="margin-top: 20px">
                        <dt class="single_cont_a">@Html.Raw(Maticsoft.ViewModel.ViewModelBase.ReplaceFace(Model.Description))</dt>
                        
                        <div class="tgoods_rep_a" style="margin-top: 10px">
                    <div class="shangpin_a">
                        <dl class="tgoods_det_b11">
                            <dt class="tgoods_det_b11_a"><a href="javascript:;" id="btnArticleFav" >
                                <img src="/Areas/SNS/Themes/M1/Content/images/user_22.jpg"></a></dt>
                            <dd class="tgoods_det_b11_b">
                                <a href="javascript:;" id="favouritecount">0</a></dd>
                        </dl>
                        
                        <div class="clear">
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                </div>
                        <div class="clear">
                        </div>
                    <div class="tgoods_rep" style="margin-top: 10px">
                    <div class="shangpin">
                    <div class="shangpin_b">
                            <div class="tgoods_rep_b" style="width: 350px;">
                                <p class="tgoods_rep_b1" style="width: 60px;">
                                    浏览<span class="txtArticlePvCount"> </span>|</p>
                                <p class="tgoods_rep_b1" style="width: 60px;">
                                    评论&nbsp;<span  id="CommentCount">0 </span>|</p>
                                @Html.Action("BaiduShare", "Partial")
                            </div>
                            <div class="clear">
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                </div>
                        <div class="tgoods_rep_sa">
                            <div class="tgoods_rep_sa1">
                            </div>
                            <div class="tgoods_rep_sa2">
                                <div class="tgoods_rep_sa2_t">
                                    <dl class="tgoods_rep_sa2_a">
                                        <textarea name="" id="CommentContent" cols="" rows=""></textarea></dl>
                                    <dl class="tgoods_rep_sa2_b">
                                        <dl class="tgoods_rep_sa2_b1" id="biaoqingshow">
                                            <dt class="tgoods_rep_sa2_b11"><a href="javascript:;">
                                                                               <img src="/Areas/SNS/Themes/M1/Content/images/detailed_14.jpg"></a></dt>
                                            <dd class="tgoods_rep_sa2_b11" style="position: relative;">
                                                <a href="javascript:;">表情</a>
                                                <div class="cbiaoqing" style="top: 10px; display: none; left: -20px" id="tbiaoqing">
                                                    @RenderPage("~/Areas/SNS/Themes/M1/Views/Partial/_biaoqing.cshtml")
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl class="tgoods_rep_sa2_b3" style="display: none">
                                            <dt class="tgoods_rep_sa2_b31">
                                                <input name="" type="checkbox" value=""></dt>
                                            <dd class="tgoods_rep_sa2_b31">
                                                同时转发到我的分享</dd>
                                        </dl>
                                        <dl class="tgoods_rep_sa2_b2">
                                            <a href="javascript:;" id="AddCommentBtn" >
                                                <img src="/Areas/SNS/Themes/M1/Content/images/tgoods_10.jpg"></a></dl>
                                         
                                        @Html.Action("WeiBoBind", "Partial")
                                    </dl>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="tgoods_rep_sa2_r">
                                    <div id="CommentArea">
                                    </div>
                                    <div id="Pagination" class="pagination" style="width: 500px">
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                            </div>
                        </div>
                                        <div class="clear">
                </div>
            </div>
                </div>
                <!------右侧内容------->
                <div class="single_CF_t">
                    <dl class="single_newest">
                        <h1>
                            更多文章</h1>
                        @Html.Action("ArticlePart", "Article", new { classId = Model.ClassID, Top = 10, ContentId=Model.ContentID })
                    </dl>
                     <dl class="single_newest">
                        <h1>
                            热门文章</h1>
                        @Html.Action("HotArticle", "Article", new { classId = Model.ClassID,Top = 15, ViewName = "_ArticlePart" })
                    </dl>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
<!------Single group end----->
<div id="inputReplyTemplete" style="display: none; margin-left: 10px">
    <dd class="answer_a_wn_c pinglunkuang">
        <dl class="answer_a_wn_c1">
        </dl>
        <dl class="answer_a_wn_c2">
            <input type="text" value="">
        </dl>
        <dl class="answer_a_wn_c3">
        </dl>
        <dl class="answer_a_wn_d">
            <dt class="answer_a_wn_d1" style="position: absolute;"><a href="javascript:void(0)"
                class="cbiaoqingshow">
                <img src="/Areas/SNS/Themes/M1/Content/images/detailed_26.jpg"></a>
                <div class="cbiaoqing" style="top: 10px; display: none; left: -20px">
                    @RenderPage("~/Areas/SNS/Themes/M1/Views/Partial/_biaoqing4Comment.cshtml");
                </div>
            </dt>
            <dl class="tgoods_rep_sa2_b3">
                <dt class="tgoods_rep_sa2_b31">@*<input name="" type="checkbox" value=""></dt>
                           <dd class="tgoods_rep_sa2_b31">同时转发到我的分享</dd>*@
            </dl>
            <dd class="answer_a_wn_d2">
                <a href="javascript:void(0)" class="btnReply">
                    <img src="/Areas/SNS/Themes/M1/Content/images/detailed_22.jpg"></a></dd>
            @*  @Html.Action("WeiBoBind", "Partial")*@
        </dl>
    </dd>
</div>
