@{
    ViewBag.Title = "找回密码";
    Layout = "~/Areas/MShop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}
@section head{
 <link rel="stylesheet" type="text/css" href="/Areas/MShop/Themes/M1/Content/Css/msg,btn,form,reg-base,reg.css?v=12022713" />
}
<script type="text/javascript">
    $(function () {
        $("#btnVerify").click(function () {
            Math.random() * 24
            $("#tImg").attr("src", "/ValidateCode.aspx?Guid=" + Math.random() * 100);
        });
        $("#btnFindPwd").click(function () {
            if ($("#Password").val() == $("#RePassword").val() && $("#Password").val().length >= 6) {
                $("#formfindpwd").submit();
            }
        });
        $("#Password").focus(function () {
            $("#divEmailTip1").removeClass("msg msg-ok msg-naked").removeClass("msg msg-info").addClass("msg msg-err").html("<i class=\"msg-ico\"></i><p>请输入密码</p>");
        }).blur(function () {
                if ($("#Password").val().length < 6)
                    $("#divEmailTip1").removeClass("msg msg-ok msg-naked").removeClass("msg msg-info").addClass("msg msg-err").html("<i class=\"msg-ico\"></i><p>密码长度不能小于6！</p>");
                else
                    $("#divEmailTip1").removeClass("msg msg-err").removeClass("msg msg-info").addClass("msg msg-ok msg-naked").html("<i class=\"msg-ico\"></i><p>&nbsp;</p>");
        });

        $("#RePassword").focus(function () {
            $("#divEmailTip2").removeClass("msg msg-ok msg-naked").removeClass("msg msg-err").addClass("msg msg-info").html("<i class=\"msg-ico\"></i><p>请输入确认密码</p>");
        }).blur(function () {
            if ($("#Password").val() != $("#RePassword").val()) {
                $("#divEmailTip2").removeClass("msg msg-ok msg-naked").removeClass("msg msg-info").addClass("msg msg-err").html("<i class=\"msg-ico\"></i><p>两次密码不一致！</p>");
            }
            else {
                $("#divEmailTip2").removeClass("msg msg-err").removeClass("msg msg-info").addClass("msg msg-ok msg-naked").html("<i class=\"msg-ico\"></i><p>&nbsp;</p>");
            }
        });
    });
</script>
<style>
    .seach_bg {
        background:#f2f2f2;
    }
    h2 {
        text-align:center;
        font-size:16px;
    }
    .f-box, f-msg {
        width:90%;
        margin:0 auto;
    }
    .f-box input, f-msg input {
        width:100%;
        height:2.5rem;
        border-radius:5px;
        border:1px solid #cacaca;
    }
    .btn-important-large {
        width:90%;
        color:#fff;
        text-align:center;
        background-color:#d91c10;
        height:2.5rem;
        line-height:2.5rem;
        display:block;
        margin:0 auto;
        border-radius:5px;
        margin-bottom:20px;
    }
</style>
<div class="top">
    <span>重置密码</span>
    <div class="header-btn fr">
        <a href="@ViewBag.BasePath" style="margin: 8px 2px 8px 0; padding-top: 8px; height: 22px">
            <img src="/Areas/MShop/Themes/M1/Content/images/home.png" width="20" height="18">
        </a>
    </div>
</div>
<div class="w760">
        <div class="box box-pwd">
            <div class="hd">
                <h2>
                    设置新密码</h2>
            </div>
            <div class="bd">
                <div id="tab_regi">
                    <div class="J_tab_panel">

                       @using (Html.BeginForm("ReSetPwd", "Account", FormMethod.Post, new { Class = "form form-regi", id = "formfindpwd" }))
                       {
                            <span style="text-align: center; color: Red">  @Html.ValidationMessage("Error")</span>
                            <div class="f-box" style="margin-top: 20px;">
                                <label class="f-label">
                                    新密码：</label>
                                <div class="f-input">
                                         @Html.Password("Password","", new{id = "Password",maxlength = "40",Class = "f-txt-b f-txt"})
                                </div>
                                <div class="f-msg">
                                    <div id="divEmailTip1">
                                      
                                    </div>
                                </div>
                            </div>
                           <div class="f-box" style="margin-top: 20px;">
                                <label class="f-label">
                                    确认密码：</label>
                                <div class="f-input">
                                         @Html.Password("RePassword", "", new{id = "RePassword",maxlength = "40",Class = "f-txt-b f-txt"})
                                </div>
                                <div class="f-msg">
                                    <div id="divEmailTip2">
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="f-box" style="margin: 20px auto; width:90%; overflow:hidden;">
                                @*<label class="f-label">
                                    验证码：</label>*@
                                <div class="f-input" style="float:left">
                                @Html.TextBox("CheckCode", "", new { maxlength = "4", Class = "f-txt-b f-txt", style = "width: 8rem;" })
                                </div>
                                <div class="f-msg" style="float:left; padding:8px 0 0 10px;">
                                   <div class="f-vcode">
                                        <div style="/*padding-left: 30px;*/ overflow:hidden;"> 
                                            <img id="tImg" alt="验证码" src="/ValidateCode.aspx"  style="height: 25px; display:block;float:left;"/>
                                            <a id="btnVerify" href="javascript:void(0)" style="color: #666666; display:block;float:left;padding-top:3px;">看不清楚?</a>

                                        </div>
                                    </div>
                                </div>
                            </div> 
                        <div class="fb f-act">
                            <div class="f-input"> 
                                <a class="btn btn-important-large" style="" id="btnFindPwd">确定</a>
                                <div class="Tip" id="checkTip">@ViewBag.CheckResult</div>
                            </div>
                          
                        </div>
                       }
                    </div>
            
                </div>
            </div>
        </div>
    </div>