@{
    Layout = "/Areas/MShop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
}
@model  Maticsoft.Model.Shop.Order.OrderItems
@{
    Maticsoft.BLL.Shop.Order.Orders OrderInfoBll = new Maticsoft.BLL.Shop.Order.Orders();
    Maticsoft.Model.Shop.Order.OrderInfo orderInfo = OrderInfoBll.GetModel(Model.OrderId);
    Maticsoft.Model.Shop.Order.EnumHelper.ReturnGoodsType returnType = Maticsoft.Model.Shop.Order.EnumHelper.ReturnGoodsType.Goods;
    if (orderInfo.PaymentStatus == (int)Maticsoft.Model.Shop.Order.EnumHelper.PaymentStatus.Paid && orderInfo.ShippingStatus == (int)Maticsoft.Model.Shop.Order.EnumHelper.ShippingStatus.UnShipped)
    {
        //已支付未发货的时候=申请退款
        returnType = Maticsoft.Model.Shop.Order.EnumHelper.ReturnGoodsType.Money;
    }
    else if (orderInfo.PaymentStatus == (int)Maticsoft.Model.Shop.Order.EnumHelper.PaymentStatus.Paid && (orderInfo.ShippingStatus == (int)Maticsoft.Model.Shop.Order.EnumHelper.ShippingStatus.Shipped || orderInfo.ShippingStatus == (int)Maticsoft.Model.Shop.Order.EnumHelper.ShippingStatus.ConfirmShip))
    {
        //已支付已发货(已收货但不满意)的时候=申请退货
        returnType = Maticsoft.Model.Shop.Order.EnumHelper.ReturnGoodsType.Goods;
    }
    else
    {
        //维修  或者  调休
        returnType = Maticsoft.Model.Shop.Order.EnumHelper.ReturnGoodsType.ExchangeGoods;
    }
}
 <!--SWF图片上传开始-->
    <link href="/admin/js/jquery.uploadify/uploadify-v2.1.0/uploadify.css" rel="stylesheet" type="text/css" />
    <script src="/admin/js/jquery.uploadify/uploadify-v2.1.0/swfobject.js" type="text/javascript"></script>
    <script src="/admin/js/jquery.uploadify/uploadify-v2.1.0/jquery.uploadify.v2.1.0.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="@Url.Content("/Areas/MShop/Themes/M1/Content/Scripts/UserCenter/returnApply.js")"></script>
<style>
    .seach_bg {
        background:#f2f2f2;
    }
p {
    margin:0;
    }
em, i {
    font-style:normal;
    }
 ul {
    padding:0;
    margin:0;
    }
.returned_purchase ul,.return_rmation ul {
        /*width:95%;*/
        margin:0 auto;
    }
.returned_purchase li,.return_rmation li {
        overflow:hidden;
        padding:10px 0;
    }
 .returned_purchase li span{
        width:5.25em;
        float:left;
        text-align:right;
    }
.returned_purchase li div {
        /*float:left;*/
        /*padding-left:10px;*/
    }
.purchase4 em{
        width:20px;
        height:20px;
        line-height:20px;
        display:inline-block;
        *display:inline;zoom:1;
        text-align:center;
        border:1px solid #ccc;
        padding-bottom:2px;
    }
.purchase6 i{
        display:block;
    }
.purchase4 input {
        width:20px;
        height:20px;
        line-height:20px;
        text-align:center;
    }
 .returned_purchase dt li,.return_rmation li {
        padding-top:10px;
    }
.return_rmation li label {
        width:5.25em;
        float:left;
        text-align:right;
    }
.return_rmation li textarea {
    width:66%;
    }
   #allReturnAmount {
       font-size:24px;
       display:block;
       color:#eb020b;
    }
.submit_cancel {
    }
.submit_cancel a {
        width:100px;
        height:40px;
        line-height:40px;
        text-align:center;
        display:inline-block;
        *display:inline;zoom:1;
        color:#fff;
        border-radius:3px;
    }
.purchase2 {
    width:66%;
    }
 .img-box {
        display:block;
        width:4rem;
        height:4rem;
        margin:0 auto;
    }
    #uploadifyUploader {
        display:block;
    }

</style>
<div class="top">
    <span><a href="javascript:window.history.go(-1);">&lt;返回</a></span>
    @Html.Partial("/Areas/MShop/Themes/M1/Views/Partial/_HeadRight.cshtml")
</div>

 <div class="my_order_right">
        	@*<div class="heading_right"><span>退货申请</span></div>*@
     
      @if(Model!=null){
          <form method="post" id="Formmy" action="@(ViewBag.BasePath)UserCenter/SubReturnApply" enctype="multipart/form-data">
          <input type="hidden" name="orderId" value="@Model.OrderId" />
          <input type="hidden" name="orderItemId" value="@Model.ItemId" />
          <input type="hidden" name="productId" value="@Model.ProductId" />
            <div class="returned_purchase">
                <ul class="clearfix">
                    <li class="purchase1" style="background:#fff; border-bottom:1px solid #dedede; margin-bottom:10px;">
                        <span style="height:5.5rem;">
                                <a href="#" class="img-box" clstag="click|keycount|orderinfo|order_product" target="_blank">
                                    <img style="border:1px solid #dedede" title="@Model.Name" src="@Maticsoft.Web.Components.FileHelper.GeThumbImage(null == Model ? string.Empty : Model.ThumbnailsUrl, "T115X115_")" width="65" height="65" onerror=" this.onerror = '';this.src = '/Content/themes/base/Shop/images/none.png' ">
                                </a>
                        </span>
                        <div class="purchase2" style="float:left;">
                        	 <p style="">@Model.Name</p>
                             @*<em>@Model.Attribute</em>
                             <i style="display:block;">商品编号：@Model.SKU</i>*@
                            <div class="purchase2">
                                <em style="color:#cb0000; display:block;">￥@Math.Round(Model.AdjustedPrice, 2)</em>
                            </div>
                        </div>
                    </li>                        	
                    @*<li class="purchase3">
                        <span>价格：</span>
                        <div class="purchase2">
                             <em>￥@Math.Round(Model.AdjustedPrice, 2)</em>
                        </div>
                    </li>*@        
                    <li class="purchase4" style="background:#fff; border-top:1px solid #dedede;border-bottom:1px solid #dedede; margin-bottom:10px;">
                        <div class="" style="overflow:hidden; width:90%; margin:0 auto;padding:5px 0;">
                            <label style="float:left;">数量：</label>
                            <div class="purchase2" style="float:left;">
                                 @if (Model.ReturnOrderType != (int)Maticsoft.Model.Shop.Order.EnumHelper.ReturnGoodsType.Money)
                                   { 
                        	       <em class="reduceprice">-</em>
                                   <input style="color:#cb0000;" type="text" name="quantity" readonly="true" data-price="@Model.AdjustedPrice" data-max="@(Model.Quantity - Model.ReturnQty)" value="@(Model.Quantity - Model.ReturnQty)"/>	
                                   <em class="increaseprice">+</em>
                                   }
                                   else
                                   { 
                                    <input type="text" name="quantity" readonly="true" data-price="@Model.AdjustedPrice" data-max="@(Model.Quantity - Model.ReturnQty)" value="@(Model.Quantity - Model.ReturnQty)"/>
                                    }
                            </div>
                        </div>
                        <div class="purchase5" style="overflow:hidden; width:90%; margin:0 auto;padding:5px 0;">
                            <label style="float:left;">优惠：</label>    
                            <div class="" style="float:left;">
                        	    <i>￥@Math.Round(Model.SellPrice-Model.AdjustedPrice,2)</i>
                            </div>
                       </div>
                       <div style="overflow:hidden; width:90%; margin:0 auto;padding:5px 0;">
                    	    <label>原因：</label>
                            <select class="sele" name="returnReason" style="background:#eeeeee; border-radius:3px; height:2.5rem; width:81%; border:none;">
                                <option value="质量问题" selected="selected">质量问题</option>
                                <option value="缺货">缺货</option>
                                <option value="调货">调货</option>
                            </select>
                        </div>
                    </li>        
                    <li class="purchase4" style="background:#fff; border-top:1px solid #dedede;border-bottom:1px solid #dedede; margin-bottom:10px;">
                    	<label style="padding-bottom:10px; text-align:center; display:block;">问题描述：</label>
                        <textarea  style="float:none; display:block; width:90%; background:#eeeeee; border:none;border-radius:3px; margin:0 auto;" rows="8" name="returnDescription"></textarea>                        
                    </li> 
                    @*<li class="add_file" style="background:#fff; border-top:1px solid #dedede;border-bottom:1px solid #dedede; margin-bottom:10px;">
                        <div class="annex clearfix" style="width:90%; margin:0 auto;">
                    	    <label>上传附件：</label>
                            <div class="annexa" id="uploadfileNamShow">                       
                            </div>
                        </div>
                        <div style="width:90%; margin:0 auto;">
                    	    <a href="javascript:void(0);" id="uploadify" style="display:block;" >添加文件</a>
                            <i style="font-size:10px;">仅支持rar、zip、jpg、png、bmp格式，文件不能超过2M</i>
                        </div>
                    </li>*@
                    <li style="background:#fff;border-top:1px solid #dedede;border-bottom:1px solid #dedede;">
                        <div style="width:90%; margin:0 auto; overflow:hidden; padding:5px 0;">
                    	    <label style="padding-top:6px; float:left;">退款金额：</label>
                            <input value="@Model.AdjustedPrice"  id="productAdjustedPrice"  type="hidden"/>
                            <em id="allReturnAmount">￥@Math.Round(Model.Quantity*Model.AdjustedPrice,2)</em>
                        </div>
                        @if (returnType != Maticsoft.Model.Shop.Order.EnumHelper.ReturnGoodsType.Money)
                        { 
                        @*<div style=" padding:5px 0;">
                    	   <label style=" width:90%;display:block; margin:0 auto; padding-bottom:10px;">退回地址：</label>
                           <textarea  style="float:none; display:block; width:90%; background:#eeeeee; border:none;border-radius:3px; margin:0 auto;" rows="8" readonly="readonly" name="returnDescription"> @Maticsoft.BLL.SysManage.ConfigSystem.GetValueByCache("ReturnAddress") </textarea>
                        </div>*@
                        }
                    </li>       
               </ul>      	
            </div>
            <div class="return_rmation">
            	
            </div>
            <div class="submit_cancel" style="width:13rem; margin:10px auto;">
            	<a style="background:#d91b0f;" class="submit_ad" href="javascript:;" id="submit_ad">提交</a>
                <a style=" background:#fde197; color:#fb7d02;" class="cancel_ad" href="javascript:;" id="cancel_ad" >取消</a>
            </div>
       </form>
      }
 </div>