@{
    Layout = "/Areas/MShop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "修改地址";
}
@model Maticsoft.Model.Shop.Shipping.ShippingAddress
<link href="/Areas/MShop/Themes/M1/Content/Css/UserCenter/userstyle.css" rel="stylesheet" type="text/css" />
<script src="/Areas/MShop/Themes/M1/Content/Scripts/UserCenter/updateuserinfo.js" type="text/javascript"></script>
<script src="/Scripts/jqueryui/JqueryDataPicker4CN.js" type="text/javascript"></script>
<link href="/Scripts/jqueryui/jquery-ui-1.8.19.custom.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/jqueryui/jquery-ui-1.8.19.custom.min.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="/Areas/Shop/Themes/M1/Content/Css/msg,btn,form,reg-base,reg.css?v=12022713" />
<script src="/Scripts/jquery/jquery.guid.js" type="text/javascript"></script>
<script src="/Scripts/jquery/maticsoft.selectregion.js" handle="/RegionHandle.aspx" isnull="true" type="text/javascript"></script>
<style type="text/css">
    select {
        width: 80px;
    }
.logincontent dd {
        margin:0;
        padding:0;
    }
.logincontent dd input {
            width:99.5%;
            margin:0 auto;
            padding:0;
            height:3rem;
            border:none;
            background:#dfdbdb;
            padding-left:5px;
            border-radius:5px;
        }
.tijiao_icon {
        width:13rem;
        margin:0 auto;
    }
.f-act {
        margin:0;
    }
input {
        font-size:1rem;
    }

</style>

<div class="top">
    <span><a href="javascript:;" onclick="history.go(-1)">&lt;返回</a></span>
    @Html.Partial("/Areas/MShop/Themes/M1/Views/Partial/_HeadRight.cshtml")
</div>

@*<div class="yy"></div>
<div class="index_h1">@(Model.ShippingId < 1 ? "新增" : "修改")收货地址</div>*@
<div class="logincontent" style="padding:0 20px;">
    <span class="tipClass">&nbsp; </span>

    @if (Model != null)
    {
        using (Html.BeginForm("SubmitShippAddress", "u", FormMethod.Post, new { id = "FormSubmitAddress" }))
        {
            @Html.HiddenFor(m => m.ShippingId)
            @Html.HiddenFor(m => m.UserId)
            <dl>
                <dd>
                    @Html.TextBoxFor(m => m.ShipName, new {placeholder = "联系人姓名", maxlength = "20", @class = "w200 address" })
                </dd>
                <dd>
                    <div id="nciknameTip">
                    </div>
                </dd>
            </dl>
            <dl>
                <dd>
                    @Html.TextBoxFor(m => m.CelPhone, new {placeholder = "手机号码", maxlength = "11", @class = "w200 address" })
                </dd>
                <dd>
                    <div id="titleTip">
                    </div>
                </dd>
            </dl>
            <dl>
                <dd>
                    <span id="span_area">

                        @Html.HiddenFor(m => m.RegionId, new {placeholder = "收货地址", id = "hfSelectedNode" })
                        <script src="/Scripts/jquery/maticsoft.selectregion.js" handle="/RegionHandle.aspx" isnull="true" type="text/javascript"></script>
                    </span>
                </dd>
                <dd>
                    <div id="titleTip">
                    </div>
                </dd>
            </dl>
            <dl>
                <dd>
                    @Html.TextBoxFor(m => m.Address, new {placeholder = "详细地址", maxlength = "100", @class = "f-txt f-txt-send" })
                </dd>
                <dd>
                    <div id="titleTip">
                    </div>
                </dd>
            </dl>
            <div class="fb tijiao_icon">
                <div class="f-input"> 

                    <span style="background-image: url('/Areas/Shop/Themes/M1/Content/images/images/userCenter/bc.jpg'); 
height: 35px;line-height:35px;  width: 91px;display:inline-block;*display:inline;zoom:1; margin-right: 5px; text-align: center;">
                        <a href="javascript:;" style="color: white;" onclick="return sub(); " id="btnUpdatepersonal">保存</a>
                    </span>
                    <span style="background-image: url('/Areas/Shop/Themes/M1/Content/images/images/userCenter/bc.jpg'); height: 35px; line-height:35px; width: 91px;
display:inline-block;*display:inline;zoom:1;text-align: center;">
                        <a href="javascript:;" style="color: white;" onclick="window.location='/MShop/u/MyAddress';return false;">返回</a>
                    </span>
                </div>
            </div>
        }
    }

</div>

<script type="text/javascript">
    function sub(sender) {
        var shipName = $("#ShipName").val();

        var address = $("#span_area>select :last").val()
        if (address == "") { ShowFailTip("请选择完整地址！"); return false };


        if (shipName == "") {
            ShowFailTip("请填写收货人");
            return false;
        }
        var regionId = parseInt($("#hfSelectedNode").val());
        if (regionId == 0 || $("#hfSelectedNode").val() == "") {
            ShowFailTip("请选择所在地区");
            return false;
        }
        var address = $("#Address").val();
        if (address == "") {
            ShowFailTip("请填写详细地址");
            return false;
        }
        var celPhone = $("#CelPhone").val();
        if (celPhone == "") {
            ShowFailTip("请填写手机号码");
            return false;
        }
        var reg = /^[1][3|5|8][0-9]\d{8}$/;
        if (!reg.exec(celPhone)) {
            ShowFailTip("输入有效的手机号码");
            return false;
        }
        $(sender).hide();
        $(sender).next().show();
        var form = $('#FormSubmitAddress');
        $.post(
            form.get(0).action,
            form.serialize(),
            function (data) {
                if (data == "OK") {
                    window.location = '@(ViewBag.BasePath)u/MyAddress';
                } else {
                    ShowFailTip("服务器忙, 请稍后再试!");
                }
            }
        );
            return false;
        }
</script>


