@model Webdiyer.WebControls.Mvc.PagedList<Maticsoft.ViewModel.SNS.AlbumIndex>
@{
    Layout = "~/Areas/SNS/Themes/M1/Views/Shared/_BaseLayout.cshtml";
 
}
 @section head{
<script src="/Scripts/jquery/maticsoft.waterfall.min.js" type="text/javascript"></script>
<script src="/Scripts/jquery/maticsoft.img.min.js" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="/Areas/SNS/Themes/M1/Content/Scripts/FellowAlbum.js" type="text/javascript"></script>
 }

 <script type="text/javascript">
     $(function () {
         var tkeyword = $.getUrlParam("keyword") == null ? "" : $.getUrlParam("keyword");
         $("#a_keyword").val(tkeyword);
         $("#@(ViewBag.sequence)").css('color', '#FF4A82');
         $(".searchbtn").click(function (e) {
             e.preventDefault();
             var keyword = $("#a_keyword").val();
             if (keyword) {
                   window.location="@(ViewBag.BasePath)Search/Albums?type=hot&keyword=" + escape(keyword);
             }
             else {
                 window.location="@(ViewBag.BasePath)Search/Albums?type=hot";
             }
         });

         $("#popular").click(function (e) {
             e.preventDefault();
             var keyword = $("#a_keyword").val();
             if (keyword) {
                   window.location="@(ViewBag.BasePath)Search/Albums?type=popular&keyword=" + escape(keyword);
             }
             else {
                  window.location="@(ViewBag.BasePath)Search/Albums?type=popular";
             }
         });
         $("#new").click(function (e) {
             e.preventDefault();
             var keyword = $("#a_keyword").val();
             if (keyword) {
                   window.location="@(ViewBag.BasePath)Search/Albums?type=new&keyword=" + escape(keyword);
             }
             else {
                  window.location="@(ViewBag.BasePath)Search/Albums?type=new";
             }
         });
         $("#hot").click(function (e) {
             e.preventDefault();
             var keyword = $("#a_keyword").val();
             if (keyword) {
                  window.location="@(ViewBag.BasePath)Search/Albums?type=hot&keyword=" + escape(keyword);
             }
             else {
                  window.location="@(ViewBag.BasePath)Search/Albums?type=hot";
             }
         });
     });
</script>
<div class="search_bk">
<div class="search_bk_1">
     <div class="search_bk_1_a"><input name="" type="" value="" id="a_keyword"></div>
     <div class="search_bk_1_b"><a href="javascript:void(0)" class="searchbtn"><img src="/Areas/SNS/Themes/M1/Content/images/search_1.jpg"></a></div>
  </div>
  <div class="search_bk_2"><a  class="btnProduct" href="javascript:void(0)">宝贝</a> <a  class="btnPhoto" href="javascript:void(0)">图片</a> <a class="btnAlbums" href="javascript:void(0)"><span>专辑</span></a> <a class="btnUser" href="javascript:void(0)">用户</a><a class="btnGroups2" href="javascript:void(0)">
小组</a></div>
<div class="clear"></div>
</div>
<div class="os">
   <div class="order">
   <div class="order_1">排序：</div>
   <div class="order_2">
     <ul>
             <li><a href="javascript:void(0)" id="popular">潮流</a></li>
         <li><a href="javascript:void(0)" id="new">最新</a></li>
         <li style="border-right: 0;"><a href="javascript:void(0)" id="hot">最热</a></li>
     </ul>
   </div>
</div>
<div class="clear"></div>
</div>
<div class="user_cont" style="background: none;">
   @{Html.RenderPartial("AlbumList", Model);}
</div>