@using Webdiyer.WebControls.Mvc
@model List<Maticsoft.Model.Shop.Products.ProductInfo>
<div id="ProductListDiv">
  <script src="/Scripts/jquery/maticsoft.img.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            resizeImg('.products_list', 100, 100);
        });
    </script>
@if (Model != null)
{
    <div class="products_list" id="shareid">
        @foreach (var item in Model)
        {
            <ul style="">
                <a href="@(ViewBag.BasePath)p/d/@item.ProductId" class="listimg">
                    <img ref="@Maticsoft.Web.Components.FileHelper.GeThumbImage(item.ThumbnailUrl1, "T115X115_")"  width="100"/></a>
                <a href="@(ViewBag.BasePath)p/d/@item.ProductId">
                    <h3>
                        @item.ProductName
                    </h3>
                    </a>
                    <small class="zeng" style="margin-top:10px;">￥@item.LowestSalePrice.ToString("F")
                    </small><br />
                <b style="font-family: SimSun; color:#808080; text-decoration: line-through; vertical-align: middle;">￥@item.MarketPrice.Value.ToString("F") </b>
                
                <h style="font-family: SimSun; color:#808080; float:right;margin-right:10px ">已售 @Maticsoft.Common.StringPlus.SubString(item.SaleCounts,40,"...") 件 </h>
                <li><span> <a href="javascript:void" onclick="test()" > 分享商品 </a> </span></li>
            </ul>
        }
        <div>
           
        </div>
    </div>
}
</div>
