<!DOCTYPE html>
<html>
<head>
     
   @Html.MaticsoftSEO(PoweredBy: true)
   <script src="/Scripts/jquery-1.12.0.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery/maticsoft.jquery.min.js" type="text/javascript"></script>
    <link href="@Url.Content("~/Scripts/msgbox/css/msgbox.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/msgbox/js/msgbox.js")" type="text/javascript"></script>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script type="text/javascript">var $Maticsoft = { BasePath: '@(ViewBag.BasePath)', CurrentArea: '@(ViewBag.CurrentArea)' };</script>

    <script>
        $.format = function (source, params) {
            if (arguments.length == 1)
                return function () {
                    var args = $.makeArray(arguments);
                    args.unshift(source);
                    return $.format.apply(this, args);
                };
            if (arguments.length > 2 && params.constructor != Array) {
                params = $.makeArray(arguments).slice(1);
            }
            if (params.constructor != Array) {
                params = [params];
            }
            $.each(params, function (i, n) {
                source = source.replace(new RegExp("\\{" + i + "\\}", "g"), n);
            });
            return source;
        };

    </script>
    @*------------以下是M1模版的css或者用到的js ---------*@
    @RenderSection("headtop", false)
    <script src="/Areas/CMS/Themes/M1/Content/Scripts/base/base.js"></script>
    <script src="/Areas/CMS/Themes/M1/Content/Scripts/index/index.js"></script>   
    
    <script src="/Scripts/jquery/jquery.lazyload.js?ver=@DateTime.Now.ToString("yyyyMMdd")" type="text/javascript"></script>  
    
     <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
     
   <!--ss-->
    @RenderSection("head", false)
</head>
<body>
    <div class="LoadingImg" style="display: none"></div>
    @RenderBody()
    @RenderSection("foot", false)
</body>
</html>
