@{
    Layout = "~/Areas/Shop/Themes/M1/Views/Shared/_ShoppingLayout.cshtml";
}
<link href="/Areas/Shop/Themes/M1/Content/css/userbalance.css" type="text/css" rel="stylesheet" /> 
<script src="/Areas/Shop/Themes/M1/Content/Scripts/Pay/recharge.js" type="text/javascript"></script>
@model List<Maticsoft.Payment.Model.PaymentModeInfo> 
@section step{
    <div class="wrap">
        <ul class="step" id="step1"><!--step2-->
           <li class="fore1">1.填写充值金额<b></b></li>
   				<li class="fore2">2.成功申请充值</li>
        </ul>
    </div>
}
<input type="hidden" id="hidRechargeRatio" value="@ViewBag.RechargeRatio"/>
	<div class="w main">
   		<div class="o-mt">
   			<h2>填写充值金额</h2>
   		</div>
   		<div class="m">
   			<div class="form">
			       <div class="item">
			           <span class="label">充值账户：</span>
			           <div class="fl" id="username">@ViewBag.UserName</div>
			           <div class="clr"></div>
			       </div>

			       <div class="item">
			           <span class="label">充值方式：</span>
                        </div>
			           <div id="payment-ship"> 
			               <div class="mc">
			                   @if (Model != null && Model.Count > 0)
			                   {
			                       foreach (Maticsoft.Payment.Model.PaymentModeInfo item in Model)
			                       {
			                           <div class="item">
			                               <div class="label">
			                                   <input type="radio" name="payment" payname="@item.Name" id="pay-method-@item.ModeId" class="hookbox" value="@item.ModeId" >
			                                   <label for="pay-method-@item.ModeId">
			                                       @item.Name
			                                   </label>
			                               </div>
			                               <div class="field">
			                                   <span class="tip">@Html.Raw(item.Description)</span>
			                               </div>
			                               <span class="clr"></span>
			                           </div>
			                       }
			                   }
			               </div>
			           </div> 
			      
			    

			       <div class="item">
			           <span class="label">充值金额：</span>
			           <div class="fl">
			               <input class="text" type="text" maxlength="9" name="txtMoney" id="txtMoney" onblur="checkMoney()" onfocus="cleanMes();"  >
			               <label>元</label>
			               <div class="msg-text"></div>
			               <div class="msg-error"></div>
			               <div class="clr"></div>
			               <div class="msg-text">请注意：支持国内主流银行储蓄卡充值，在线支付成功后，充值金额会在1分钟内到账；如果需要提现，请致电客服办理</div>
			               <div class="clr"></div> 
			           </div>
			           <div class="clr"></div>
			       </div>
                   <div class="item" id="divrechargeMoney" style="display:none;">
   					<span class="label" >应付金额：</span>
                       <div class="fl">
                           <label id="lblMoney" style="font-size: 22px;margin-right: 5px;color: #F60;">0.00</label>元
                       </div>
   					<div class="clr"></div>
   				</div>
   				<div class="item">
   					<span class="label">&nbsp;</span>
   					<div class="fl">
   						<a class="btn-next" onclick="DoChonge();" href="javascript:;">下一步</a>
   					</div>
   					<div class="clr"></div>
   				</div>
   			</div>
   		</div>
   		<div class="m m1">
   			<div class="mt">
   				<h3>温馨提示：</h3>
   			</div>
			<div class="mc">
				<p>
					1. 充值成功后，余额可能存在延迟现象，一般1到5分钟会内到账，如有问题，请咨询客服；
					<br>
					2. 您只能用储蓄卡在线支付充值金额的钱，如遇到任何支付问题可以查看在线支付帮助；
					<br>
					3. 充值完成后，您可以进入账户充值记录页面进行查看余额充值状态。
				</p>
			</div>
   		</div>
   		<input type="hidden" id="balance" value="0"> 
   	</div>
    
