@{
    Layout = "~/Areas/Shop/Themes/M1/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "重置密码";
}
@section head{
    <link rel="stylesheet" type="text/css" href="/Areas/Shop/Themes/M1/Content/Css/msg,btn,form,reg-base,reg.css?v=12022713" />
}
<script type="text/javascript">
    var resetpwd1 = true;
    var resetpwd2 = true;
    $(function () {
        $("#btnresetpwd").click(function () {
            checkresetPwd($('#NewPwd'));
            checkresetPwd2($('#NewPwd2'));
            if (resetpwd1 && resetpwd2) {
                $("#formresetpwd").submit();
            }
        });
        $("#NewPwd").focus(function () {
            $("#divNewPwdTip").removeClass("msg msg-ok msg-naked").removeClass("msg msg-err").addClass("msg msg-info").html("<i class=\"msg-ico\"></i><p>请填写密码</p>");
        }).blur(function () {
            checkresetPwd($('#NewPwd'));
        });
        $("#NewPwd2").focus(function () {
            $("#divNewPwd2Tip").removeClass("msg msg-ok msg-naked").removeClass("msg msg-err").addClass("msg msg-info").html("<i class=\"msg-ico\"></i><p>请再次填写密码，两次输入必须一致</p>");
        }).blur(function () {
            checkresetPwd2($('#NewPwd2'));
        });

    });

    //验证重置密码
    function checkresetPwd(obj) {
        var regs = /^[A-Za-z0-9]{6,30}$/;
        var pwdval = obj.val();
        if (pwdval.length == 0) {
            $("#divNewPwdTip").removeClass("msg msg-ok msg-naked").removeClass("msg msg-info").addClass("msg msg-err").html("<i class=\"msg-ico\"></i><p>请填写密码</p>");
            resetpwd1 = false;
            return;
        }
        if (!regs.test(pwdval)) {
            $("#divNewPwdTip").removeClass("msg msg-ok msg-naked").removeClass("msg msg-info").addClass("msg msg-err").html("<i class=\"msg-ico\"></i><p>密码6-30位，支持“数字、字母”</p>");
            resetpwd1 = false;
        } else {
            $("#divNewPwdTip").removeClass("msg msg-err").removeClass("msg msg-info").addClass("msg msg-ok msg-naked").html("<i class=\"msg-ico\"></i><p>&nbsp;</p>");
            resetpwd1 = true;
        }
    }

    //验证确认密码
    function checkresetPwd2(obj) {
        if (obj.val() != "") {
            if (obj.val() != $("#NewPwd").val()) {
                $("#divNewPwd2Tip").removeClass("msg msg-ok msg-naked").removeClass("msg msg-info").addClass("msg msg-err").html("<i class=\"msg-ico\"></i><p>两次填写的不一致，请重新填写</p>");
                resetpwd2 = false;
            } else {
                $("#divNewPwd2Tip").removeClass("msg msg-err").removeClass("msg msg-info").addClass("msg msg-ok msg-naked").html("<i class=\"msg-ico\"></i><p>&nbsp;</p>");
                resetpwd2 = true;
            }
        } else {
            $("#divNewPwd2Tip").removeClass("msg msg-ok msg-naked").removeClass("msg msg-info").addClass("msg msg-err").html("<i class=\"msg-ico\"></i><p>请再次填写密码，两次输入必须一致</p>");
            resetpwd2 = false;
        }
    }
</script>
<div class="w760">
    <div class="box box-pwd">
        <div class="hd">
            <h2>
                找回密码</h2>
        </div>
        <div class="bd">
            <div id="tab_regi">
                <div class="J_tab_panel">
                    @if (ViewBag.Msg == "Success")
                    {
                        <p style="font-family: '微软雅黑'; color: #999; margin-top: 20px; font-size: 15px; margin-left: 40px;">
                            请填写下方表单来完成新密码的设置操作</p>
                        <br />
                        using (Html.BeginForm("VerifyPassword", "Account", FormMethod.Post, new { Class = "form form-regi", id = "formresetpwd", Style = "padding:0;" }))
                        {
                            <input id="tEmail" type="hidden" name="Email"  value="@ViewBag.Email"/>
                        <input id="SecretKey" type="hidden" name="SecretKey" value="@ViewBag.SecretKey"/>
                        <span style="text-align: center; color: Red">@Html.ValidationMessage("Error")</span>
                        <div class="f-box" style="margin-top: 20px;">
                            <label class="f-label">
                                重置密码：</label>
                            <div class="f-input">
                                <!--  <input type="text" maxlength="40" name="xlInput" id="email" class="f-txt-b f-txt">  -->
                                @Html.Password("NewPwd", "", new
                           {
                               maxlength = "40",
                               Class = "f-txt-b f-txt",
                               id = "NewPwd"
                           })
                                <input type="text" value="重置密码" style="display: none;" />
                            </div>
                            <div class="f-msg">
                                <div id="divNewPwdTip">
                                </div>
                            </div>
                        </div>
                        <div class="f-box">
                            <label class="f-label">
                                确认密码：</label>
                            <div class="f-input">
                                <!--  <input type="text" maxlength="40" name="xlInput" id="email" class="f-txt-b f-txt">  -->
                                @Html.Password("NewPwd2", "", new
                           {
                               maxlength = "40",
                               Class = "f-txt-b f-txt",
                               id = "NewPwd2"
                           })
                                <input type="text" value="确认密码" style="display: none;" />
                            </div>
                            <div class="f-msg">
                                <div id="divNewPwd2Tip">
                                </div>
                            </div>
                        </div>

                        <div class="fb f-act">
                            <div class="f-input">
                                <input class="btn btn-important-large" style="line-height: 30px; background-position: 100% -78px; padding-right: 10px; font-weight: bold;" type="button" value="确定" id="btnresetpwd" />
                            </div>
                        </div> 
                        }
                    }
                    else
                    {
                        <input id="tError" type="hidden" value="@ViewBag.Msg" />
                        <script type="text/javascript">
                            $(function () {
                                var tipStr = $("#tError").val();
                                ShowFailTip(tipStr);
                                //setInterval(" window.location = '@(ViewBag.BasePath)Profile/Posts'", 5000);
                            });
                        </script> 
                    }
                </div>
            </div>
        </div>
    </div>
</div>
