  @model List<Maticsoft.ViewModel.Shop.ProductAccessorie>
               @if (Model != null && Model.Count>0)
               {
                    <a name="tab"></a><a name="comment"></a>
           
                    <div class="mb15">
                <ul class="pInfoTab yahei f14 cf">
                    <li><a  href="javascript:;"><span>推荐配件</span></a></li>
                </ul>
            </div>
              <div class="favorable-suit" id="parts-suit" >
                  <div class="tab1body cf "   >
                      <ul class="detail-list stab ul_detail-list"  >
                          @for (int i = 0; i < Model.Count;i++ )
                          {
                              if (Model[i].ProductAccessorieInfo == null)
                              {
                                  continue;
                              }
                              if (i == 0)
                              {
                                     <li  class="scurr" item="acces_@(Model[i].ProductAccessorieInfo.AccessoriesId)">@Model[i].ProductAccessorieInfo.Name</li>
                              }
                              else
                              {
                                     <li class="sborder" item="acces_@(Model[i].ProductAccessorieInfo.AccessoriesId)">@Model[i].ProductAccessorieInfo.Name</li>
                              }

                          }
                      </ul> 
                  </div>
                      @for (int i = 0; i < Model.Count; i++)
                      {
                          if (Model[i].ProductAccessorieInfo == null)
                          {
                              continue;
                          }
                     
                                  <div class="bd div_access_item"   id="acces_@(Model[i].ProductAccessorieInfo.AccessoriesId)" @if (i != 0)
                                                                                                                               {
                                                                                                                                    @:style="display:none;"
                                                                                                                               } > 
             @if (Model[i].SkuInfo != null)
             {
                 <div  >
                @foreach (var item in Model[i].SkuInfo)
                 {
                     <div class="master"  >    <s></s>    
                         <div class="p-img">
                             <a href="@item.SeoUrl" target="_blank">
                                 <img src="@Maticsoft.Web.Components.FileHelper.GeThumbImage(item.ProductThumbnailUrl, "T115X115_")"  onerror="this.onerror='';this.src='/Areas/Shop/Themes/M1/Content/Images/404.jpg'"  height="100" width="100">
                             </a>    
                         </div>   
                         <div class="p-name">
                             <a href="@item.SeoUrl" target="_blank">@item.ProductName</a>    
                         </div>  
                         <div class="p-name" style="height:25px">
                             @if (item.SkuItems != null && item.SkuItems.Count > 0)
                             {
                                 foreach (var valueItems in item.SkuItems)
                                 {
                                     <span>@valueItems.ValueStr</span> 
                                 }

                             }                                                 
                         </div>   
                                                                                 
                         <div class="p-price">
                             @item.SalePrice.ToString("F")
                         </div>
                           <div class="btns">
                                            <a class="btn-buy acce_cart_btn" href="javascript:;" itemid="@item.SKU" target="_blank" >加入购物车</a>    
                                        </div> 
                     </div>
                
              }
              </div>     
             <div class="infos" style="display:none;">
                                        <s></s>                        
                                        
                                    </div>
             }


                                  </div>
                      
                      }
             

              </div>
            
                            
               }
 

