@model  List<Maticsoft.Model.Settings.FriendlyLink>
            
<header class="header view">
<span class="nowposition">
<a href="javascript:;" onclick="pageload('Home','index','首页','_Index', '_Index');" class="ui-link">首页</a>
<a href="javascript:;"  class="ui-link">友情链接</a>
</span>
</header>
<div class="content content_list">
    <div class="ax-img-list alinks_list">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
            <a onclick="pageload('Alink','alinkDetail_@(item.ID)','@item.Name','AlinkDetail', 'AlinkDetail','-1','-1','-1','@item.ID')" class="ui-link">
                <div class="im">
                    <img src="@item.ImgUrl" alt="@item.Name">
                    <span>@item.Name</span>
                </div>
            </a>
            }
        }
    </div>
</div>
<div class="pagePrevNext controlgroup" style ="display:none;">
<span>
<a onclick="" class="ui-link">没有了</a>
</span>
<span class="pagecount">
<a class="ui-link">1/1</a>
</span>
<span>
<a onclick="" class="ui-link">没有了</a>
</span>
</div>
 