  @model  List<Maticsoft.Model.CMS.Content>
             @if (Model != null)
             {
               foreach (var item in Model)
               { 
                 <a onclick="pageload('Article','productsDetailPhoto_@(item.ContentID)','@item.Title','NewsDetail', 'ProductsDetailPhoto','-1','@item.ContentID')" title="@item.Title" class="ui-link">
                            <div class="img" style="background-image: url(@item.ImageUrl);">
                                <img src="@item.ImageUrl">
                            </div>
                            <div class="title">
                                <h3>@(Maticsoft.Common.StringPlus.SubString(item.Title, 15, ".."))</h3>
                            </div>
                        </a>
               }                
             }
 
